@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    background-color: black;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    gap: 0;
    padding: 0 40px;
}

header nav .logo {
    display: block;
    width: 160px;
    height: auto;
    margin-left: 100px;
}

header .nav1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .nav1 a {
    padding: 0 10px;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

header .nav1 i {
    color: white;
    font-size: 30px;
    transition: color 0.2s;
}

header .nav1 i:hover {
    color: #b9b9b9;
}

header nav button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav .logo:hover,
header nav button:hover {
    filter: brightness(0.8);
}

.side-panel {
    position: fixed;
    top: 0;
    left: -335px;
    width: 300px;
    height: 96.4%;
    background: black;
    color: #fff;
    z-index: 1100;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.8);
    transition: left 0.5s ease-in-out;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.side-panel.open {
    left: 0;
    border: 1.5px solid #ffffff;
}

.side-panel-head {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 22px;
}

.side-panel-links {
    font-weight: 700;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 30px 8px;
}

.side-panel-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

.side-panel-links a:hover {
    color: #b9b9b9;
}

.cart-panel {
    position: fixed;
    right: -100%;
    top: 0;
    width: 500px;
    height: 96.3%;
    background-color: black;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.8);
    transition: right 0.5s ease-in-out;
    padding: 1rem;
    z-index: 1000;
    overflow-y: auto;
}

.cart-panel.open {
    right: 0;
    border: 1.5px solid #ffffff;
}

.cart {
    height: 83%;
}

.line {
    padding: 0.5px 0;
    background-color: white;
    margin-bottom: 10px;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.subtotal-label {
    text-align: left;
}

.subtotal-amount {
    text-align: right;
}

.cart-panel p,
.side-panel p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 7rem;
    border: 1px solid white;
    margin-bottom: 10px;
    background: black;
}

.cart-item .title {
    font-weight: 700;
}

.cart-item img {
    width: auto;
    height: 75px;
    margin-right: 10px;
}

.cart-item .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.cart .shipping {
    font-size: 13px;
    font-weight: 500;
    color: #929292;
}

.cart-item .row-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.cart-item .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    margin: 0 5px;
}

.cart-item .quantity button {
    background-color: black;
    color: white;
    padding: 3px 10px;
    margin-bottom: 11px;
    font-size: 25px;
    cursor: pointer;
}

.cart-item .remove {
    color: white;
    border: none;
    background: none;
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
}

.cart-item .price {
    font-size: 14px;
    font-weight: 700;
    min-width: 60px;
    text-align: right;
}

.emptyCart {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.emptySubtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.emptyButton button {
    background-color: #fff;
    color: #000;
    border: none;
    width: 50%;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.emptyButton button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.cart-header,
.side-panel {
    font-weight: 700;
    font-size: 25px;
}

.cart-panel button {
    padding: 14px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head i,
.side-panel-head i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}






footer {
    background-color: #000;
    padding: 40px 20px 20px;
    text-align: center;
    border-top: 1px solid #222;
    font-weight: 500;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icons i {
    color: white;
}

.support {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.support a {
    color: white;
    text-decoration: none;
}

.support a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}

.accessibility {
    font-size: 11px;
    color: white;
    max-width: 600px;
    margin: 0 auto;
}



#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.cart-panel.open+#overlay {
    display: block;
}







@media screen and (max-width: 430px) {
    header nav {
        font-size: 22px;
        padding: 0 10px;
    }

    header nav .logo {
        width: 160px;
        margin-left: 60px;
    }

    header .nav1 {
        gap: 10px;
    }

    header .nav1 a {
        font-size: 22px;
        padding: 0 5px;
    }

    .cart-panel {
        position: fixed;
        right: -145%;
        width: 355px;
        height: 94.7%;
    }

    .cart {
        height: 73%;
    }

    .product-grid {
        padding: 0px 20px 25px;
    }

    .side-panel {
        left: -410px;
        width: 275px;
        height: 94.7%;
    }

    .cart-item .quantity-selector button {
        margin-bottom: 11px;
    }
}